#app-nav {
    nav {
        a, span {
            padding-right: 10px;
            border-right: 1px solid $blue;
            padding-left: 5px;
            
            &:last-child {
                border-right: none;
            }
        }
        span {
            cursor: pointer;
            color: $base-link-color;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}