<script type="text/template" id="calculation-edit-tmpl">
    <h1>Drainage Calculation</h1>
    <div class="validation-summary"></div>

    <hr />
    
    <form class="form-horizontal">
        <fieldset>

            <div class="row">
                
                <div class="col-md-12">
                    <div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">Project Info</h3>
        				</div>
        				<div class="panel-body">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="Title">Title</label>  
                                <input name="Title" type="text" placeholder="Drainage project title" class="form-control input-md calculation-title" value="<%= model.Title %>">
                            </div>
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">Is this a new project?</label>
        						<select name="Existing" class="form-control calculation-existing">
        						    <option value="false" <% if(!survey.Existing){ %> selected="selected" <% } %>>New Project</option>
        						    <option value="true" <% if(survey.Existing){ %> selected="selected" <% } %>>Existing Project</option>
        						</select>
        					</div>
        				</div>
        			</div>
    			</div>
    
                <div class="col-md-6">
                    <div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">Sources of Water</h3>
        				</div>
        				<div class="panel-body">
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">Is there a side slope?</label>
        						<select name="Cut" class="form-control calculation-cut">
        						    <option value="true" <% if(survey.Cut){ %> selected="selected" <% } %>>Yes</option>
        						    <option value="false" <% if(!survey.Cut){ %> selected="selected" <% } %>>No</option>
        						</select>
        					</div>
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">Does the water depth exceed 6 inches?</label>
        						<select name="WaterDepth" class="form-control calculation-waterdepth">
        						    <option value="true" <% if(survey.WaterDepth){ %> selected="selected" <% } %>>Yes</option>
        						    <option value="false" <% if(!survey.WaterDepth){ %> selected="selected" <% } %>>No</option>
        						</select>
        					</div>
        				</div>
        			</div>
    			</div>
    			
    			                <div class="col-md-6">
                    <div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">Climate</h3>
        				</div>
        				<div class="panel-body">
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">Are there freezing temperatures?</label>
        						<select name="Freezing" class="form-control calculation-freezing">
        						    <option value="true" <% if(survey.Freezing){ %> selected="selected" <% } %>>Yes</option>
        						    <option value="false" <% if(!survey.Freezing){ %> selected="selected" <% } %>>No</option>
        						</select>
        					</div>
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">Does it rain?</label>
        						<select name="Wet" class="form-control calculation-wet">
        						    <option value="true" <% if(survey.Wet){ %> selected="selected" <% } %>>Yes</option>
        						    <option value="false" <% if(!survey.Wet){ %> selected="selected" <% } %>>No</option>
        						</select>
        					</div>
        				</div>
        			</div>
    			</div>
    			
    			</div>
    			
    			<div class="row">

                <div class="col-md-6">
                    <div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">Subgrade</h3>
        				</div>
        				<div class="panel-body">
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">What type of subgrade soil type?</label>
        						<select name="SoilType" class="form-control calculation-soiltype">
        						    <option disabled selected value></option>
        						    <option value="gravel_sand" <% if(survey.SoilType == 'gravel_sand'){ %> selected="selected" <% } %>>Gravel / Sand</option>
        						    <option value="silt" <% if(survey.SoilType == 'silt'){ %> selected="selected" <% } %>>Silt</option>
        						    <option value="clay" <% if(survey.SoilType == 'clay'){ %> selected="selected" <% } %>>Clay / Fine Mass</option>
        						</select>
        					</div>
        					<div class="form-group col-sm-12">
        						<label for="laneWidth">What percentage is passing?</label>
        						<input name="PercentPassing" type="number" step="any" min="0" class="form-control calculation-percentpassing" placeholder="Passing percentage" value="<%= survey.PercentPassing %>">
        					</div>
        				</div>
        			</div>
    			</div>
    			
			</div>
			
			<hr/>

            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <button id="save" name="save" type="button" class="btn btn-primary save">Save</button>
                    <button type="button" class="btn btn-default cancel">Cancel</button>
                </div>
            </div>
        
        </fieldset>
    </form>

</script>
