<script type="text/template" id="calculation-list-tmpl">
    <div class="view-calculations">
    
        <div class="row">
            <div class="col-md-10">
                <h1><%= project.Name %> Calculations</h1>
            </div>
            <div class="col-md-2 text-right actions">
                <a href="/#projects/<%= IDProject %>/calculations/new" class="btn btn-success add-calculation"><i class="fa fa-plus"></i> New Calculation</a>
            </div>
        </div>
        
        <div class="box">
        
            <% if(calculations.length > 0){ %>
                <table class="table table-striped table-hover">
                    <thead></thead>
                    <tbody class="list"></tbody>
                </table>
            <% } else { %>
                <div class="empty text-center">
                    <div class="icon"><i class="fa fa-calculator"></i></div>
                    <h2>Nothing to see here...</h2>
                    <p>You don't have any calculations yet. Get started by creating your first calculation.</p>
                    <a href="/#projects/<%= IDProject %>/calculations/new" class="btn btn-success"><i class="fa fa-plus"></i> Create a Calculation</a>
                </div>
            <% } %>
            
        </div>
        
    </div>
</script>
