<script type="text/template" id="record-list-tmpl">
    <div class="view-records">
    
        <div class="row">
            <div class="col-md-10">
                <h1><%= HeadlightAppData.AppRecordNamePlural %>: <%= project.Name %></h1>
            </div>
            <div class="col-md-2 text-right actions">
                <a href="<%= url((HeadlightAppData.ProjectList ? '/projects/' + project.IDProject : '') + '/records/new') %>" class="btn btn-success add-record"><i class="fa fa-plus"></i> New <%= HeadlightAppData.AppRecordName %></a>
            </div>
        </div>
        
        <div class="box">
        
            <% if(records.length > 0){ %>
                <table class="table table-striped table-hover">
                    <thead></thead>
                    <tbody class="list"></tbody>
                </table>
            <% } else { %>
                <div class="empty text-center">
                    <div class="icon"><i class="fa fa-folder-o"></i></div>
                    <h2>Nothing to see here...</h2>
                    <p>You don't have any <%= HeadlightAppData.AppRecordNamePlural.toLowerCase() %> yet. Get started by creating your first <%= HeadlightAppData.AppRecordName.toLowerCase() %>.</p>
                    <a href="<%= url((HeadlightAppData.ProjectList ? '/projects/' + project.IDProject : '') + '/records/new') %>" class="btn btn-success add-record"><i class="fa fa-plus"></i> Create <%= HeadlightAppData.AppRecordName %></a>
                </div>
            <% } %>
            
        </div>
        
    </div>
</script>
