.view-projects {
    .actions {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .table-striped {
        border: 1px solid #ddd;
    }
    
    nav {
        text-align: center;
    }
}

.edit-project {
    .project-map {
        width: 500px;
        height: 400px;
    }
}