.view-records {
    .actions {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .record-select {
        margin: 5px;
    }
    .fa-circle.complete {
        color: #337ab7;
        border-color: #2e6da4;
    }

    .fa-circle.incomplete {
        color: #d9534f;
        border-color: #d43f3a;
    }
    
    .table-striped {
        border: 1px solid #ddd;
    }

    
    
    .empty {
        .icon {
            font-size: 10em;
            color: $light-gray;
        }
        
        h2 {
            font-size: 1.5em;
        }
        
        .btn {
            margin: 50px 0;
        }
    }
    
    nav {
        text-align: center;
    }

}

.comparison-label {
    text-align: right;
    font-weight: bold;
    font-weight: bold;
}

.comparison-data {
    font-size: 1em;
}

.table-comparison td{
    font-size: .9em;
}
 .table-comparison th{
    font-size: .9em;
    font-weight: bold;
}