<!-- magic -->
<script type="text/html" id="PageHeadlight_App_Navigation">
    <div id="app-nav"></div>
</script>

<script type="text/template" id="app-nav-tmpl">
    <ul class="nav navbar-nav navbar-left">
        <% if(HeadlightAppData.ProjectList) { %>
            <li class="nav-item">
                <a href="<%= url('/projects') %>">Projects</a>
            </li>
            <% if(project){ %>
                <li class="nav-item animated fadeIn"><a href="<%= url('/projects') %>"><i class="fa fa-chevron-left"></i></a></li>
                <li class="nav-item animated fadeIn">
                    <a href="<%= url('/projects/' + project.IDProject + '/records') %>"><%= project.Name %></a>
                </li>
            <% } %>
        <% } else { %>
            <li class="nav-item">
                <a href="<%= url('/records') %>"><%= HeadlightAppData.AppRecordNamePlural %></a>
            </li>
        <% } %>
    </ul>
</script>
